# Additional requirements for development and testing

bottle
jinja2
matplotlib
# Pandana 0.7 extensions are not compatible with the NumPy 2 ABI.
numpy < 2
pandas < 3
pandana
simplejson

# testing
coveralls
jupyter
pycodestyle
pytest
pytest-cov

# building documentation
numpydoc
sphinx
sphinx-rtd-theme
