<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=1024, user-scalable=no">
<style>
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0;}
      #map{ height: 100% }

      .legend {
          line-height: 18px;
          color: #555;

      }
      .legend i {
          width: 15px;
          height: 15px;
          float: left;
          margin-right: 8px;
      }
      .info {
          padding: 6px 8px;
          font: 14px/16px Arial, Helvetica, sans-serif;
          background: white;
          background: rgba(255,255,255,0.8);
          box-shadow: 0 0 15px rgba(0,0,0,0.2);
          border-radius: 5px;
      }
      .info h4 {
          margin: 0 0 5px;
          color: #777;
      }
      .mycluster {
			width: 60px;
			height: 35px;
			background-color: rgb(95, 166, 15);
			text-align: center;
			font-size: 24px;
            border-radius: 8px;
            box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
      }
</style>

<link rel="stylesheet"
      href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.css"/>
<link rel="stylesheet"
      href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
<link rel="stylesheet"
      href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="http://paris.urbansim.org/angular-slider/Bing.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
<script src="http://colorbrewer2.org/export/colorbrewer.js"></script>
<script src="http://paris.urbansim.org/angular-slider/slider.js"></script>
<script src="http://trifacta.github.io/vega/vega.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.min.js"></script>
<link rel="stylesheet"
      href="http://paris.urbansim.org/angular-slider/slider.css"/>
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css"/>
<script type="text/javascript">

SHAPE_JSON = "{{shape_json}}";

SIM_OUTPUT_FILE = "{{sim_output}}";
PARCEL_OUTPUT_FILE = "{{parcel_output}}";

CENTER = {{center}};
ZOOM = {{zoom}};
PRECISION = {{precision}};
GEOMNAME = "{{geom_name}}";
JOINNAME = "{{join_name}}";
ROOT = "http://localhost:8765/"

MAP = null;
var shapeLayer = null;
var data = null;
var lastlegend = null;

var buckets = 7;
var color = 'YlGnBu';
var q = null;

app = angular.module('app', ['ui.slider']);

app.controller('SimCtrl', ['$scope', function controller($scope, $timeout) {
    var MAP = L.map("map").setView(CENTER, ZOOM);
    var markers = new L.MarkerClusterGroup({
            disableClusteringAtZoom: 17,
            iconCreateFunction: function (cluster) {
				var markers = cluster.getAllChildMarkers();
				var n = 0;
				for (var i = 0; i < markers.length; i++) {
					n += markers[i].number;
				}
                w = 40;
                if(n >= 1000000) {
                    n = (n/1000000).toFixed(2)+'M';
                }
                else if(n >= 100000) {
                    w = 60;
                    n = (n/1000).toFixed(0)+'k';
                }
                else if(n >= 10000) {
                    n = (n/1000).toFixed(0)+'k';
                    w = 50;
                }
                else if(n >= 1000) {
                    n = (n/1000).toFixed(1)+'k';
                    w = 50;
                }
                else if(n >= 100) w = 47;
				return L.divIcon({ html: n, className: 'mycluster', iconSize:
                        L.point(w, 35) });
			}
        }
    );

    //L.tileLayer("http://otile1.mqcdn.com/tiles/1.0.0/sat/{z}/{x}/{y}.jpg",
    //       {subdomains: '1234',type:'map',minZoom:8,maxZoom:18}).addTo(MAP);

    var key =
            "Ak-dzM4wZjSqTlzveKz5u0d4IQ4bRzVI309GxmkgSVr1ewS6iPSrOvOKhA-CJlm3";
    MAP.addLayer(L.bingLayer(key, {type: 'AerialWithLabels'}));

    $scope.timeout = $timeout;
    $scope.sim_output = null;

    d3.json(SIM_OUTPUT_FILE, function(error, sim_output) {
        $scope.sim_output = sim_output;

        $scope.years = $scope.sim_output["years"];
        $scope.year_range = {
            low: $scope.years[0],
            high: $scope.years[$scope.years.length - 1]
        };
        $scope.field_names = [];
        $scope.norm_field_names = ['Normalize by', 'Column total'];
        Object.keys($scope.sim_output).forEach(function (a) {
            if (a != "index" && a != "years") {
                $scope.field_names.push(a);
                $scope.norm_field_names.push(a);
            }
        });
        $scope.field_name = $scope.field_names[0];
        $scope.norm_field_name = $scope.norm_field_names[0];
    });

    $scope.parcel_output = null;
    if(PARCEL_OUTPUT_FILE != '') {
        d3.csv(PARCEL_OUTPUT_FILE, function (error, parcel_output) {
            $scope.parcel_output = parcel_output;
            console.log(parcel_output[0]);

            var redMarker = L.AwesomeMarkers.icon({icon: 'building',
                markerColor: 'red', prefix: 'fa'})
            var yellowMarker = L.AwesomeMarkers.icon({icon: 'building',
                markerColor: 'green', prefix: 'fa'})
            var blueMarker = L.AwesomeMarkers.icon({icon: 'building',
                markerColor: 'blue', prefix: 'fa'})
            var purpleMarker = L.AwesomeMarkers.icon({icon: 'building',
                markerColor: 'purple', prefix: 'fa'})
            var orangeMarker = L.AwesomeMarkers.icon({icon: 'building',
                markerColor: 'orange', prefix: 'fa'})
            var marker_map = {
                "residential": yellowMarker,
                "office": blueMarker,
                "retail": redMarker,
                "industrial": purpleMarker
            }

            function leftright(left, right) {
                return left + right + "<br>";
                        //'<span><span style="float:left">'+left+
                       // '</span><span style="float:right">'+right+'</span><br>'
            }

            parcel_output.forEach(function(r) {
                popup = leftright("Parcel Id: ",
                                (+r.parcel_id).toFixed(0)) +
                        leftright("Residential units: ",
                                        (+r.residential_units).toFixed(0))+
                        leftright("Parcel sqft: ",
                                        ((+r.parcel_size)).toFixed(0))+
                        leftright("Max far: ", (+r.max_far).toFixed(1))+
                        leftright("Max dua: ", (+r.max_dua).toFixed(1))+
                        leftright("Old building sqft: ",
                                        (+r.total_sqft).toFixed(0))+
                        leftright("New building sqft: ",
                                        (+r.building_sqft).toFixed(0))+
                        leftright("Net units: ", (+r.net_units).toFixed(0))+
                        leftright("Land cost: $",
                                (+r.land_cost/1000000).toFixed(2)+"M")+
                        leftright("Construction cost: $",
                                (+r.building_cost/1000000).toFixed(2)+"M")+
                        leftright("Building revenue: $",
                                (+r.building_revenue/1000000).toFixed(2)+"M")+
                        leftright("Oldest redev bldg: ",(+r.oldest_building).toFixed(0))
                ;
                //popup = "<div style='width: 350px;'>"+popup+"</div>"
                var mark = L.marker([+r.y, +r.x], {
                    icon: marker_map[r.form] || orangeMarker
                }).bindPopup(popup);
                mark.number = +r.residential_units;
                markers.addLayer(mark)
            });
            MAP.addLayer(markers);
        });
    }

    $scope.colors = Object.keys(colorbrewer);
    $scope.color = "YlGnBu";
    $scope.scale_options = ["quantile", "equal_interval"];
    $scope.scale = "quantile";
    $scope.slider_type = "growth";

    $scope.$watch('year_range.low + year_range.high + year + field_name + ' +
                    'norm_field_name',
            function(nv, ov) {
        $scope.runQuery();
    });

    $scope.$watch('slider_type', function(nv, ov) {
        $scope.safeApply(function() {
            if(nv == "total") {
                $scope.year = $scope.year_range.high;
            } else if (ov == "total") {
                $scope.year_range.high = $scope.year;
            }
        });
        $scope.runQuery();
    });

    $scope.$watch('color', function(nv, ov) {
        color = $scope.color;
        $scope.setLegend();
        if(shapeLayer) shapeLayer.setStyle(style_f);
    });

    $scope.$watch('scale', function(nv, ov) {
        $scope.setScale();
        $scope.setLegend();
        if(shapeLayer) shapeLayer.setStyle(style_f);
    })

    $scope.$watch('data', function(nv, ov) {
        data = nv;

        $scope.setScale();
        $scope.setLegend();
        if(shapeLayer) shapeLayer.setStyle(style_f);
        $scope.setPopup();
        $scope.setChart();
    });

    $scope.safeApply = function(fn) {
        var phase = this.$root.$$phase;
        if(phase == '$apply' || phase == '$digest') {
            if(fn && (typeof(fn) === 'function')) {
                fn();
            }
        } else {
            this.$apply(fn);
        }
    };

    $scope.setScale = function() {
        if(!data) return;
        var values = Object.keys(data).map(function (key) {
            return data[key];
        });
        if(values.length == 0) {
            values = [0, 0];
        }
        if ($scope.scale == "quantile") {
            q = d3.scale.quantile()
                    .domain(values)
                    .range(d3.range(buckets));
        } else {
            q = d3.scale.quantize()
                    .domain(d3.extent(values))
                    .range(d3.range(buckets));
        }
    }

    $scope.setLegend = function() {
        if (!data || !MAP) return;
        if (lastlegend) lastlegend.removeFrom(MAP);

        var legend = L.control({position: 'bottomright'});

        legend.onAdd = function (map) {

            var div = L.DomUtil.create('div', 'info legend'),
                    grades = q.range(),
                    labels = [],
                    from, to;

            for (var i = grades.length-1; i >= 0; i--) {
                var extent = q.invertExtent(grades[i]);
                from = extent[0].toFixed(PRECISION);
                to = extent[1].toFixed(PRECISION);

                labels.push(
                                '<i style="background:' +
                                colorbrewer[color][buckets][i] + '"></i>' +
                                from + (to ? ' to ' + to : '+'));
            }

            div.innerHTML = labels.join('<br>');
            return div;
        };
        lastlegend = legend;
        legend.addTo(MAP);
    }

    $scope.pan = function(type) {
        ind = $scope["col_stats"][type].ind;
        id = $scope.sim_output["index"][ind];
        layer = feature_d[id];
        centroid = layer.getBounds().getCenter();

        MAP.panTo([centroid.lat, centroid.lng]);
        MAP.setZoom(12);
        layer.openPopup(centroid);
    }

    $scope.chart_show = false;
    MAP.on('popupopen', function(e) {
        if(!("feature" in e.popup._source))
            return;
        id = e.popup._source.feature.properties[GEOMNAME];
        $scope.safeApply(function() {
            $scope.setChart(id);
            $scope.chart_show = true;
        });
    });

    MAP.on('popupclose', function(e) {
        $scope.safeApply(function() {
            $scope.chart_show = false;
        });
    });

    $scope.most_recent_id = undefined;
    $scope.setChart = function(id) {
      if(id === undefined) id = $scope.most_recent_id;
      $scope.most_recent_id = id;
      spec = {
          "width": 250,
          "height": 150,
          "padding": {"top": 10, "left": 25, "bottom": 35, "right": 10},
          "data": [
            {
              "name": "table",
              "values": [
                {"x":"A", "y":28}, {"x":"B", "y":55}, {"x":"C", "y":43},
                {"x":"D", "y":91}, {"x":"E", "y":81}, {"x":"F", "y":53},
                {"x":"G", "y":19}, {"x":"H", "y":87}, {"x":"I", "y":52}
              ]
            }
          ],
          "scales": [
            {"name":"x", "type":"ordinal", "range":"width", "domain":{"data":"table", "field":"data.x"}},
            {"name":"y", "range":"height", "nice":true, "domain":{"data":"table", "field":"data.y"}}
          ],
          "axes": [
            {"type":"x", "scale":"x", "ticks": 10,
                "tickPadding": 15, "properties":
            {"labels":
                {"angle": {"value": 90}}}},
            {"type":"y", "scale":"y"}
          ],
          "marks": [
            {
              "type": "line",
              "from": {"data":"table"},
              "properties": {
                "enter": {
                  "interpolate": {"value": "monotone"},
                  "x": {"scale":"x", "field":"data.x"},

                  "y": {"scale":"y", "field":"data.y"},
                    "stroke": {"value": "steelblue"},

                  "strokeWidth": {"value": 3}
                    },
                  "update": {
                  "opacity": {"value": 1}
                },
                "hover": {
                  "opacity": {"value": 0.5}
                }
              }
            }
          ]
        };
        if(id != undefined) {
            ind = $scope.sim_output.index.indexOf(id);
            values = [];
            $scope.sim_output.years.forEach(function f(year) {
                values.push({"x": year,
                             "y": $scope.sim_output[$scope.field_name]
                                     [year][ind]
                            })
            });
            spec["data"][0]["values"] = values;
            var max = d3.max(values, function(d) {return d.y});
            if(max > 100) spec["padding"]["left"] = 35;
            if(max > 1000) spec["padding"]["left"] = 45;
            if(max > 10000) spec["padding"]["left"] = 50;
            if(max > 100000) spec["padding"]["left"] = 60;
            if(max > 1000000) spec["padding"]["left"] = 70;
        }
        vg.parse.spec(spec, function(chart) {
            chart({el:"#chart"}).update();
        });
    }

    $scope.setPopup = function() {
        Object.keys(feature_d).forEach(function(taz) {
            layer = feature_d[taz];
            val = data[taz];
            if(val != undefined) layer.bindPopup(
                    "zone: "+taz+"<br>"+
                    $scope.field_name+": "+val.toFixed(PRECISION).toString());
            else layer.bindPopup("No value");
        })
    }

    $scope.runQuery = function() {
        if(!shapeLayer) return;

        // don't even need to call a query here since all the results are just
        // embedded in this html file
        keys = $scope.sim_output["index"];
        year_high = $scope.slider_type == "total" ?
                $scope.year : $scope.year_range.high;
        values = $scope.sim_output[$scope.field_name][year_high];
        values2 = $scope.sim_output[$scope.field_name][$scope.year_range.low];
        out_values = []
        $scope.safeApply(function() {
            var map = {}
            for(var i in keys) {
                high_val = values[i];
                low_val = values2[i];
                if($scope.norm_field_name != 'Normalize by') {
                    if($scope.norm_field_name == 'Column total') {
                        high_val = high_val * 100 / Math.max(1, d3.sum(values));
                        low_val = low_val * 100 / Math.max(1, d3.sum(values2));
                    } else {
                        high_val = high_val /
                                $scope.sim_output[$scope.norm_field_name][year_high][i];
                        low_val = low_val /
                                $scope.sim_output[$scope.norm_field_name][$scope.year_range.low][i];
                    }
                }
                if($scope.slider_type == "total") {
                    map[keys[i]] = high_val;
                } else if ($scope.slider_type == "growth") {
                    map[keys[i]] = high_val - low_val;
                } else if ($scope.slider_type == "pct growth") {
                    map[keys[i]] = (high_val - low_val) /
                            low_val * 100;
                    if(low_val == 0) {
                        map[keys[i]] = 0;
                    }
                }
                out_values.push({ind: i, val: map[keys[i]]});
            }
            out_values = out_values.sort(function(a, b) {
                return d3.ascending(a.val, b.val)
            });
            $scope["col_stats"] = {
                "min":out_values[0],
                "1st quartile": out_values[Math.floor(out_values.length/4)],
                "median": out_values[Math.floor(out_values.length/2)],
                "3rd quartile": out_values[Math.floor(out_values.length*3/4)],
                "max": out_values[out_values.length-1],
                "sum": d3.sum(out_values, function(a) {return a.val})
            }
            $scope["data"] = map;
            $scope.setChart();
        });
    };

    $scope.advance = function (i) {
        if(i >= $scope.years.length) return;
        $scope.safeApply(function() {
            $scope.year_range.high = $scope.years[i];
            $scope.year = $scope.years[i];
        });
        setTimeout(function(){
            $scope.advance(i+1)
        }, 500);
    }

    $scope.play = function () {
        $scope.year_range.low = $scope.years[0];
        $scope.advance(0);
    }

    MAP.on('zoomend', function(e) {
        if (MAP.getZoom() >= 15) {
            MAP.removeLayer(shapeLayer);
        } else {
            MAP.addLayer(shapeLayer);
        }
    });

    function style_f(feature) {
        if(data && q) {
            var val = data[feature.properties[GEOMNAME]];
            var v = q(val);
        }
        fo = .7;
        if(v == undefined) {
            v = 0;
            fo = 0.0;
        }
        if($scope.slider_type != "total" &&
                $scope.year_range.low == $scope.year_range.high) {
            v = 0;
            fo = 0.0;
        }
        var c = colorbrewer[color][buckets][v];

        return {
            fillColor: c,
            weight: 1,
            opacity: .6,
            color: 'black',
            fillOpacity: fo
        };
    }

    var feature_d = {}
    var shapeLayer;
    d3.json(SHAPE_JSON, function(error, zones) {
        if (error) return console.error(error);
        shapeLayer = new L.geoJson(zones, {
            style: style_f,
            onEachFeature: function (feature, layer) {
                feature_d[feature.properties[GEOMNAME]] = layer;
                //layer.bindPopup("No value");
            }
        });
        if(MAP.getZoom() < 15) {
            MAP.addLayer(shapeLayer);
        }
        $scope.runQuery();
    });
}]);

</script>
</head>

<body ng-app="app" ng-controller="SimCtrl">

<div id="map"
     style="width:100%; height:100%; position:fixed; left:0; top:0;
     overflow:hidden;">
</div>

<div style="position:absolute; right: 320px; top: 12px; color: white">
<i ng-click="play()" class="fa fa-youtube-play fa-2x"></i>
</div>

<slider style="position:absolute; right: 10px; top: 0px; width: 300px;"
        floor="{% raw %}{{years[0]}}{% endraw %}"
        ceiling="{% raw %}{{years[years.length-1]}}{% endraw %}"
        ng-show="slider_type != 'total'"
        step="1" precision="0"
        ng-model-low="year_range.low" ng-model-high="year_range.high"></slider>

<slider style="position:absolute; right: 10px; top: 0px; width: 300px;"
        floor="{% raw %}{{years[0]}}{% endraw %}"
        ceiling="{% raw %}{{years[years.length-1]}}{% endraw %}"
        ng-show="slider_type == 'total'"
        step="1" precision="0"
        ng-model="year"></slider>

<select style="position:absolute; right: 10px; top: 45px; width: 150px;"
        ng-options="type for type in ['total', 'growth', 'pct growth']"
        ng-model="slider_type"></select>

<select style="position:absolute; right: 10px; top: 70px; width: 150px;"
        ng-options="name for name in field_names"
        ng-model="field_name"></select>

<select style="position:absolute; right: 10px; top: 95px; width: 150px;"
        ng-options="name for name in colors"
        ng-model="color"></select>

<select style="position:absolute; right: 10px; top: 120px; width: 150px;"
        ng-options="name for name in scale_options"
        ng-model="scale"></select>

<select style="position:absolute; right: 10px; top: 145px; width: 150px;"
        ng-options="name for name in norm_field_names"
        ng-model="norm_field_name"></select>

<div id="chart" ng-show="chart_show" class="info legend leaflet-control"
     style="position:absolute; left: 10px; bottom: 10px;">
</div>

<div class="info legend leaflet-control"
     style="position:absolute; right: 10px; top: 175px; width: 170px">
    <span>
        <i ng-click="pan('min')" class="fa fa-plane"></i>
        <span style="float:left">Min value:</span>
        <span style="float:right">
            {%raw%}{{ col_stats.min.val | number:2 }}{%endraw%}
        </span>
    </span><br><span>
        <i ng-click="pan('1st quartile')" class="fa fa-plane"></i>
        <span style="float:left">1st Quartile:</span>
        <span style="float:right">
            {%raw%}{{ col_stats['1st quartile'].val | number:2 }}{%endraw%}
        </span>
    </span><br><span>
        <i ng-click="pan('median')" class="fa fa-plane"></i>
        <span style="float:left">Median value:</span>
        <span style="float:right">
            {%raw%}{{ col_stats.median.val | number:2 }}{%endraw%}
        </span>
    </span><br><span>
        <i ng-click="pan('3rd quartile')" class="fa fa-plane"></i>
        <span style="float:left">3rd Quartile:</span>
        <span style="float:right">
            {%raw%}{{ col_stats['3rd quartile'].val | number:2 }}{%endraw%}
        </span>
    </span><br><span>
        <i ng-click="pan('max')" class="fa fa-plane"></i>
        <span style="float:left">Max:</span>
        <span style="float:right">
            {%raw%}{{ col_stats.max.val | number:2 }}{%endraw%}
        </span>
    </span><br><span>
        <span style="float:left">Sum:</span>
        <span style="float:right">
            {%raw%}{{ col_stats.sum | number:2 }}{%endraw%}
        </span>
    </span>
</div>

</body>
